<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CalcInterestService.CalcAgentInterestSevice">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/Ganesha" />         
           </baseAddresses>
        </host>
        <endpoint address="Siddi" binding="wsHttpBinding" contract="CalcInterestService.IAgentIntCalcService">                    
        </endpoint>
        <endpoint address="Buddi" binding="basicHttpBinding" contract="CalcInterestService.IAgentIntCalcService">
         
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      <!--  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    
      </service>
      <service name="CalcInterestService.CalcAgentInterestSevice" behaviorConfiguration="CalcAgentInterestSevice" >
      
-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!--
        <behavior name="metadata1">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior> -->
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    
</configuration>