<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    
    <services>
      <service behaviorConfiguration="WcfServiceApplication.ITestService" name="WcfServiceApplication.TestService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="testBasicHttpBinding" contract="WcfServiceApplication.ITestService">
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service behaviorConfiguration="WcfServiceApplication.ITestService" name="WcfServiceApplication.RealService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="testBasicHttpBinding" contract="WcfServiceApplication.ITestService">
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint address="wsEndPoint" binding="wsHttpBinding" bindingConfiguration="testWsHttpBinding" contract="WcfServiceApplication.ITestService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="testBasicHttpBinding"></binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="testWsHttpBinding"></binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceApplication.ITestService">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <httpErrors>
            <error statusCode="402" prefixLanguageFilePath="D:\Sample Projects\Web Apps\TestServiceSln\TestServiceSln\WcfServiceApplication\ErrorHTML.htm" path="\WcfServiceApplication\ErrorHTML.htm" responseMode="File" />
        </httpErrors>
  </system.webServer>

</configuration>
