<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="checkBinding" >
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="basic"></binding>
      </basicHttpBinding>
      <mexHttpBinding>
        <binding name="mexTcpBinding"/>
      </mexHttpBinding>
   
    </bindings>
    <services>
      <service name="WcfService1.Service1">
        <clear />
        <endpoint address ="wsAddess1" binding="wsHttpBinding" bindingConfiguration="checkBinding" name="MyWsHttpContract2"
          bindingName="wsBinding" contract="WcfService1.IService1" >
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"
                  bindingConfiguration="mexTcpBinding" >
        </endpoint>
        <endpoint address ="basicAddress1" binding="basicHttpBinding" bindingConfiguration="basic" name="basicbindingchanged" contract="WcfService1.IService1"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


</configuration>
