<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicbindingchanged" />
        <binding name="BasicHttpBinding_ITestService" />
        <binding name="BasicHttpBinding_ITestService1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MyWsHttpContract2" />
        <binding name="WSHttpBinding_ITestService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3301/Service1.svc/wsAddess1"
        binding="wsHttpBinding" bindingConfiguration="MyWsHttpContract2"
        contract="MyService.IService1" name="MyWsHttpContract2">
        <identity>
          <userPrincipalName value="U0135363@TLR.Thomson.Com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:3301/Service1.svc/basicAddress1"
        binding="basicHttpBinding" bindingConfiguration="basicbindingchanged"
        contract="MyService.IService1" name="basicbindingchanged" />
      <endpoint address="http://tahys-0135363-l/WcfServiceApplication/RealService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestService1"
        contract="RealServiceReference.ITestService" name="BasicHttpBinding_ITestService1" />
      <endpoint address="http://tahys-0135363-l/WcfServiceApplication/RealService.svc/wsEndPoint"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestService"
        contract="RealServiceReference.ITestService" name="WSHttpBinding_ITestService">
        <identity>
          <servicePrincipalName value="host/TAHYS-0135363-L.TLR.Thomson.com" />
        </identity>
      </endpoint>
      <endpoint address="http://tahys-0135363-l/WcfServiceApplication/TestService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestService"
        contract="TestServiceReference.ITestService" name="BasicHttpBinding_ITestService" />
    </client>
  </system.serviceModel>
</configuration>