<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIAgentIntCalcServiceTest"/>
        <binding name="BasicHttpBinding_Isamp"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tahyr-0138790-l/WcfService/IAgentIntCalcServiceTest.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIAgentIntCalcServiceTest" contract="ServiceReference1.IIAgentIntCalcServiceTest" name="BasicHttpBinding_IIAgentIntCalcServiceTest"/>
      <!--<endpoint address="http://localhost/WcfService/samp.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Isamp" contract="ServiceReference2.Isamp" name="BasicHttpBinding_Isamp"/>-->
    </client>
  </system.serviceModel>
  <!--<namespace name="WCFwebHost.ServiceReference1"/>-->
</configuration>